* { margin:0; padding:0; }

#newsticker-demo { 
width:95%; 
background:#EAF4F5; 
padding:5px 5px 0; 
font-family:calibri,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:20%; }
.newsticker-jcarousellite .thumbnail img{ height: auto; float: left; border: 0; width: 100%; }
.newsticker-jcarousellite .info { float:right; width:78%; padding-left:2%; padding-top:3%;}
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; padding-left:2%;}

.clear { clear: both; }
